body {
  background-color: #5CDB95;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
  color: #05386B;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #379683;
  padding: 0;
}
ul.header li a {
  color: #05386B;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}