body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
  color: #000000;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 35px;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 5px;
}

/* Miguel M. From here my css starts */
.active {
  /* active page indicator //background-color: rgb(55, 107, 141); */
  border-bottom: 4px solid white ;
}

.flexbox-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.flexbox-item {
  width: 200px;
  margin: 8px;
  border: 4px solid #333;
  background-color: #dfdfdf;
}

.flexbox-item-1 {
  max-height: 300px;
}

.flexbox-item-2 {
  max-height: 300px;
}

.flexbox-item-3 {
  max-height: 300px;
}

.flexbox-item-4 {
  max-height: 300px;
}

.flexbox-item-5 {
  max-height: 300px;
}

.flexbox-item-6 {
  max-height: 300px;
}

.book-wrapper {
  text-align: center;
}

.fit-container {
  width: 100%;
}

/* google fonts or icons req */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.orange600 {
  color: rgb(255, 255, 255);
}

.material-icons.md-dark {
  color: rgb(255, 255, 255);
}

.material-icons.md-dark.md-inactive {
  color: rgb(244, 244, 244);
}

/*^^ Miguel M. Contribution ends here ^^*/

/**********BOOK DETAILS CSS********************/

.details
{
}


.details-img
{
  height: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.details-img-col{
    height: 400px;
}

.details-description
{
  background-color: #F0F0F0;
  padding: 25px 50px 25px 50px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.centering
{
  /* background-color: red;
  font-family: serif;
  text-align: center;
  /* display: inline-block; */
}

.details-authorBio
{
  background-color: #ffcc00;
  padding: 25px 50px 25px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.details-Basics
{
}

.details li {
  list-style-type: none;
}
.details ul {
  padding-left: 0;
  padding: 18px 0px 0px 0px;
}

.addtoCartBtn {
  float: right;
}

/* --------------------For book Rating------------- */

*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/* --------------For comments-------------- */
.user_name{
  font-size:14px;
  font-weight: bold;
}
/* .comments-list .media{
  border-bottom: 1px dotted #ccc;
} */
.comments-list .media{
  background-color: #ffcc00;
  padding: 25px 50px 25px 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
