#registration {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: none;
}

.creditCard {
	margin-right: 50px;
}

#login {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

input {
	color: black;
}

#signin {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: underline;
	font-size: 2.5rem;
}

.registerlink {
	text-align: center;
}

.loginlink {
	text-align: center;
}

#reg {
	width: 15%;
	position: relative;
	padding: 12px 20px;
	border-radius: 4px;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: normal;
	box-shadow: 0px 4px 20px 0px transparent;
}

#register {
	width: 100%;
	position: relative;
	padding: 12px 20px;
	border-radius: 4px;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: normal;
	box-shadow: 0px 4px 20px 0px transparent;
}

a {
	font-size: 1.3rem;
}

.submit {
	background-color: #ffcc00;
	border: none;
	color: black;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 1.3rem;
}

.submit:hover {
	background-color: #dcb000;
}
