body {
  /* background-color: #5cdb95; */
  padding: 20px;
  margin: 0;
}
.home h1,
.home h2,
.home p,
.home ul,
.home li {
  font-family: sans-serif;
  color: #05386b;
}
.home ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
.home ul.header {
  background-color: #379683;
  padding: 0;
}
.home ul.header li a {
  color: #05386b;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

/**********BOOK DETAILS CSS********************/

.details
{
  font-family: Lato;
}

.details-img
{
  height: 400px;

}

.details-description
{
}

.details-authorBio
{
}

.details-Basics
{
}






 /*********************************************/
